<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <form class="form-detail" action="/login" method="post" id="myform">
        <h2>LOGIN FORM</h2>

        <ul>
            <% if(messages.success_msg){ %>
                    <li> <%= messages.success_msg %> </li>     
        <%    }   %>
        </ul>

        <ul>
            <% if(messages.error) {%>
            <li> <%= messages.error %></li>
             <%     }  %>
        </ul>
        <div class="form-row">
            <label for="your_email">Email</label>
            <input type="text" name="email" id="email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
        </div>
        <div class="form-group">
            <div class="form-row form-row-1 ">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input-text" required>
            </div>

        </div>
        <div class="form-row-last">
            <input type="submit" name="login"  value="Login">
        </div>

       
        </div>
        <a href="/register">Register </a> <br>
        <a href="/google">Continue with google </a>
    </form>
    
    
</body>
</html>